<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Página estática</title>
    <link rel="stylesheet" type="text/css" href="./styles.css" />
  </head>
  <body>
    <div class="container">
      <img src="../assets/images/mascote.jpg" alt="Logo" class="logo" />
      <p class="paragraf">
        <strong>Funções são cidadãs de primeira classe</strong><br />
        Como vimos até agora, o Go possui o conceito de funções. E ocorre que
        elas são cidadãs de primeira classe. Em palavras simples, isso significa
        que podemos passar funções por parâmetros, retornar uma função de outra
        função, armazenar funções em variáveis e etc. Apesar de não ser
        explícito no FAQ da linguagem, isso significa que é possível utilizar
        conceitos do paradigma funcional para deixar o seu código mais simples
      </p>
    </div>
    <input class="pg_dinamica" type="button" value="Página Dinâmica" />
  </body>
</html>
